.iconWrapper{
/* display: flex;
flex-wrap: wrap;
justify-content: flex-start */
}
.iconAlign{
    text-align: center;
   
}
.color{
    background-color: yellow;
}
.container{
    margin: 0 auto!important;
}

@media (min-width: 320px) {
    .grid-container { 
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);
        padding: 10px;
        gap: 10px; }
  }

  @media (min-width: 900px) {
    .grid-container { 
        display: grid;
        grid-template-columns: repeat(7,  1fr);
        padding: 10px;
        gap: 15px; }
  }
 
  .grid-item {
  
    font-size: 13px;
    text-align: center;
  }